body{
  padding-top: 63px;
}

@media screen and (max-width: 768px){
  body{
    padding-top: 120px;
  }
}

/* Jumbotron Styling */
.jumbotron{
  background: RGBA(64, 64, 122, .5) !important;
  color: white;
}

.caption-font{
  font-family: 'PT Serif Caption', serif;
}


.jumbotron-button{
  border-style: none;
  background-color: #706fd3 !important;
}

.jumbotron-button:hover{
  background-color: #f7f1e3 !important;
  color: #706fd3 !important;
  border-style: none;
}

/* Navbar Styling */

.nav-font{
  font-family: 'PT Serif Caption', serif;
  font-weight: 500;
  font-size: 18px;
}

.navbar-design ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-design li {
  float: right;
}

.navbar-design li a {
  display: block;
  color: #706fd3;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.navbar-design h6 {
  color: #706fd3;
  text-align: center;
  padding: 18px 20px;
  font-size: 18px;
}

.navbar-design img {
  display: block;      
  padding: 10px 13px;
  text-align: center;
}

.navbar-design li a:hover {
  background-color: #40407a;
  color: #fff;
}

/* login form */

.login-centered{
  padding-top: 100px;
  margin: 0 auto;
  width: 50%;
}

.login-centered p{
  color: #706fd3;
}

.login-centered a{
  color: #706fd3;
}

.login-centered a:hover{
  text-decoration: none;
}

.login-button{
  background-color: #706fd3 !important;
}

.login-button:hover{
  background: #40407a !important;
}

/* Individual Styles */

.center{
  text-align: center;
  margin: 0;
}

.display-b{
  display: block;
}

.m-0{
  margin: 0 auto;
}

.t-align-c{
  text-align: center;
}

.display-i{
  display: inline;
}

.t-align-l{
  text-align: left;
}

.pt-65{
  padding-top: 65px;
}

.pt-25{
  padding-top: 25px;
}

.p-font-sm{
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
}

.mt-50{
  margin-top: 50px;
}

.mt-25{
  margin-top: 25px;
}

.p-32{
  padding: 32px;
}

.ml-25{
  margin-left: 25%;
}

.ml-50{
  margin-left: 50%;
}

.mr-25 {
  margin-right: 25%;
}

.hr-50{
  width: 50%;
}

.pt-15{
  padding-top: 15px;
}

.hr-color-main{
  background: RGBA(64, 64, 122, .5);
}

.wd-50{
  width: 50%;
}

.base-color{
  color: #706fd3;
}

.request-button{
  background-color: #706fd3 !important;
  opacity: .5;
}

.request-button:hover{
  background: #40407a !important;
  opacity: 1;
}
 
.prayer-bg{
  background-color: #40407a;
  opacity: .7;
  box-shadow: 5px 5px 10px black;
}

.color-wht{
  color: white;
}

.rounded{
  border-radius: 3px;
}

.ml-15{
  margin-left: 15px !important;
}

.p-font-m{
  font-family: 'PT Serif Caption', serif;
  font-size: 16px;
}

.post-text-color{
  color: lightgray;
  opacity: .6;
}

.pl-15{
  padding-left: 15px;}


.no-link-style{
  text-decoration: none;
  color: white;

}

.no-link-style:hover{
  text-decoration: none;
  color: #706fd3;
  cursor: pointer;
}

.fl-r{
  float: right;
}

.display-f{
  display: flex;
}